@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.titulo-proveedores{
    background-color: #3cc3bd;
    color: white;
    font-family: "Merienda";
    text-align: center;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10%;
    border: 1px solid gray;
}

.label-buscar{
    font-size: 17px;
    font-family: "Quicksand";
}

.reporte-crear{
    text-decoration: none;
}

.reporte-crear p{
    background-color: #444444;
    height: 100%;
    color: white;
    font-family: 'Quicksand';
    font-size: 17px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 3px 7px 10px black;
}

.buscar-proveedor{
    box-shadow: 3px 7px 10px black;
}